html, body{
  background-color: #000F30;
  height: 100%;
  width: 100%;
}
.container{
  max-width: 1000px;
  padding-top: 20px;
  text-align: center;
  margin: auto;
}
.header-img{
  max-height: 700px;
  padding-bottom: 50px;
}
.title{
  text-align: center;
  max-width: 1000px;
  margin: auto;
  word-spacing: 100px;
}
#title h1{
  display: inline;
  font-size: 40px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: bold;
  color: #C7DEFF;
  text-transform: uppercase;
  text-decoration: none;
}
.landing-page{
  height: 100%;
  background-image: radial-gradient(circle, #90ABD3, #224578, #001533, #000F30);
}
@media only screen and (max-width: 480px) {
#title h1{
  font-size: 30px;
}
.header-img{
  max-height: 450px;
  padding-bottom: 50px;
}
}
.fa-chevron-down{
  color: white;
  font-size: 50px;
}
.hompage{
  height: 100vh;
  background-color: #000F30;
}
.uk-container p{
  text-align: center;
  color: white;
  font-size: 20px;
  background-color: #000F30;
  text-transform: uppercase;
}
.uk-container h3{
  text-align: center;
  color: white;
  font-size: 40px;
  background-color: #000F30;
  text-transform: uppercase; 
}




