body{
  background-color: #000F30;
}
.landing-page{
  background-image: radial-gradient(circle, #90ABD3, #224578, #001533, #000F30);
  height: 100vh;
}
.container{
  max-width: 1000px;
  padding-top: 50px;
  text-align: center;
  margin: auto;
}
.header-img{
  max-height: 800px;
  padding-bottom: 50px;
}
.title{
  text-align: center;
  max-width: 1000px;
  margin: auto;
  word-spacing: 100px;
}
#title h1{
  display: inline;
  font-size: 40px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: bold;
  color: #C7DEFF;
  text-transform: uppercase;
  text-decoration: none;
}
.homepage{
  background-color: #000F30;
  height: 100vh;
}






